@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
    background: #40739e;
    overflow:hidden;

}
.wrapper{
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    border-radius: 7px;
    padding: 20px 0;

}
.task-input{
    height: 72px;
    padding: 10px 25px;
    margin-bottom: 60px;
}
.task-input input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    padding: 0 20px 0 30px;
    margin-bottom: 20px;
    
}
.task-input input::placeholder{
    color: #bfbfbf;
}
.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
  
}
.filters span{
margin: 0 8px;
font-size: 17px;
cursor: pointer;
}
.filters span.active{
    color: #40739e;
    background-color: #bfd8ec;
    padding: 4px 5px;
    border-radius: 4px;
}
.filters span:first-child{
    margin-left: 0;
}
.controls .btn{
    border: none;
    outline: none;
    color: #fff;
    background:#40739e;
    padding: 7px 13px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}
.controls .btn:hover{
    background-color:#4982b1 ;
}
.task-box{
    margin: 20px 10px 20px 25px;
}
.task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
    margin-right: 15px;
}
.task-box .task:last-child{
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.task label{
    display: flex;
}
.task label input{
    margin-top: 6px;
    margin-right: 12px;
}
.task .settings{
    cursor: pointer;
    position: relative;

}
.settings .task-menu{
    background: #fff;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,.15);
    position: absolute;
    z-index: 5;
    transform: scale(0);
    transition: transform 0.2s ease;
    transform-origin: top right;
    right: -5px;
    bottom: -65px; 

}
.settings .task-menu.show{
    transform: scale(1);
}
.task-menu li{
    height: 25px;
    font-size: 16px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}
.task-menu li:last-child{
    margin-bottom: 0;
}
.task-menu li i{
    padding-right: 8px;

}
.task-menu li:hover{
    background: #d6eafa;
}
.settings i{
    color: #999;
}
.task label div{
    width: 380px;
    display: flex;
    justify-content: space-between;
}
.taskContent{
    width: 270px;
    word-break: break-all;
}

.task-box.overflow{
    overflow-y: auto;
    max-height: 300px;
  }
  .task-box::-webkit-scrollbar{

    width: 5px;
  }
  .task-box::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
  }
  .task-box::-webkit-scrollbar-thumb{
    background: #e6e6e6;
    border-radius: 25px;
  }
